
      <div>
        <article class="post">
          <a href="mailto:ads@vectorhack.com?subject=Advertising with VectorHack">
            <header>
              Your ML ad here
            </header>
            <div class="content">
              <p><img src="/assets/img/logo.png"><span class="domain">
                you.com soon
              </span>
              </p>
              <p>Call for papers?  New API?  Kaggle competition?  Open position?  Now you can advertise opportunities relevant to machine learning here.  Ping ads@vectorhack.com</p>
            </div>
            <footer>
              ADVERTISEMENT
            </footer>
            <header>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({
             google_ad_client: "ca-pub-3097136926431517",
            enable_page_level_ads: true
            });
            </script>
           </header>
           <footer>
            ADVERTISEMENT
           </footer>
          </a>
        </article>
      </div>
