
      <div>
        <article class="post">
          <a href="{{ post.link }}">
            <header>
              Your ad here
            </header>
            <div class="content">
              <p><img src="{{ post.image }}"><span class="domain">
                yoursite.com just now
              </span>
              </p>
              <p>Call for papers?  New API?  Open position?  You can advertise opportunities relevant to machine learning here.  Ping ads@vectorhack.com</p>
            </div>
            <footer>
            </footer>
          </a>
        </article>
      </div>
