
      <div>
        <article class="post">
          <a href="mailto:ads@vectorhack.com">
            <header>
              Machine learning opportunity?  Your ad here!
            </header>
            <div class="content">
              <p><img src="/assets/img/anim.gif"><span class="domain">
                you.com just now
              </span>
              </p>
              <p>Call for papers?  New API?  Kaggle competition?  Open position?  You can advertise opportunities relevant to machine learning here.  Ping ads@vectorhack.com</p>
            </div>
            <footer>
            </footer>
          </a>
        </article>
      </div>
