<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="theme-color" content="black">
<link rel="icon" sizes="192x192" href="/assets/img/logo.png">
<title>{{ site.name }} {{ page.title }}</title>

{% seo %}

<script src="https://use.fontawesome.com/a13ebaf43f.js"></script>
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
