<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="theme-color" content="black">
<link rel="icon" sizes="192x192" href="/assets/img/logo.png">

{% if page.title %}
  <title>{{ page.title }} | {{ site.name }}</title>
{% endif %}

{% seo %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({
             google_ad_client: "ca-pub-3097136926431517",
            enable_page_level_ads: true
            });
            </script>
<script src="https://use.fontawesome.com/a13ebaf43f.js"></script>
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
