
<form action="https://vectorhack.us17.list-manage.com/subscribe/post?u=9153893e7206f3e67df79f41c&amp;id=e9b1779341" method="post" name="mc-embedded-subscribe-form" class="mailchimp-contact-form validate" target="_blank" novalidate>
    <div class="mc-field-group">
        <input type="email" placeholder="you@example.com" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on">
        <input type="submit" value="Subscribe" name="subscribe" class="heart">
    </div>
</form>

<script>
  function startEmail() {
    console.log("startEmail");
    document.getElementById("mce-EMAIL").focus();
  }
</script>
