
<script>

  function startEmail() {
    console.log("startEmail");
    var el = document.getElementById("mce-EMAIL");
    el.focus();
  }

  function onSubmit() {
    console.log("Checking validity");
    var form = document.getElementById("email_form");
    if (form.checkValidity()) {
        document.body.style = "filter: blur(4px);"
        return true;
    }
    console.log("Invalid");
    return false;
  }

  function onLoad() {
    document.body.style = "filter: none;";
    var el = document.getElementById("mce-EMAIL");
    if (el) {
      el.placeholder = "Subscribed!"
    }
  }
</script>

<style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>
<iframe name="hiddenFrame" class="hide" onload="onLoad();"></iframe>

<form id="email_form" action="https://vectorhack.us17.list-manage.com/subscribe/post?u=9153893e7206f3e67df79f41c&amp;id=e9b1779341" method="post" name="mc-embedded-subscribe-form" class="mailchimp-contact-form validate" target="hiddenFrame" novalidate>
    <div class="mc-field-group">
        <input type="email" placeholder="you@example.com" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" aria-hidden="true" required>
        <input type="submit" value="Subscribe" name="subscribe" class="heart" onclick="onSubmit();">
    </div>
</form>
