
      <div>
        <article class="post">
          <a href="{{ post.link }}">
            <header>
              {{ post.title }}
            </header>
            <div class="content">
              <p><img src="{{ post.image }}"><span class="domain">{{ post.domain }}</span> {{ post.excerpt | truncatewords: 60 }}</p>
            </div>
            <footer>
              {% if minutes_ago <= 1 %}
                now
              {% elsif minutes_ago < 60 %}
                {{ minutes_ago }} minutes ago
              {% elsif hours_ago == 1 %}
                  1 hour ago
              {% elsif hours_ago < 24 %}
                {{ hours_ago }} hours ago
              {% elsif days_ago == 1 %}
                  1 day ago
              {% elsif days_ago < 7 %}
                 {{ days_ago }} days ago
              {% else %}
                 {{ post.date | %A, %-d %b }}
              {% endif %}
            </footer>
          </a>
        </article>
      </div>
