---
---

@import "{{ site.theme }}";

.thumb {
  position: absolute;
}

.thumb img { 
  width: 7em;
}

.content {
  margin-left: 8em; 
}

footer {
  display: none;
}

header {
  .view {
    display: none;
  }
}
