---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 700px;
}

// Keep small screen layout for all screens
header, section, footer {
  float:none;
  position:static;
  width:auto;
}

header h1, h2, h3 {
  margin-bottom: 10px;
}

.menu {
  font-size: 0.7em;
}

.menu a {
  font-weight: 200;
  padding-right: 2em;
  white-space: nowrap;
  color: lightgrey;
}

.menu a i {
  width: 11px;
}

.menu a:hover {
  font-weight: 200;
}

.menu .selected {
  color: #267CB9;
}

.post {
  font-size: 0.7em;
  font-weight: 200;
  margin-bottom: 2em;
}

.post header {
  font-size: 1.4em;
  margin: 0px;
  overflow: hidden;
}

.post a {
  text-decoration: none;
  color: #727272;
}

.post a:hover, a:focus {
  font-weight: 200;
}

.post a:visited  {
  color: lightgrey;
}

.post p {
  margin: 0px;
}

.post footer {
  color: lightgrey;
}

.domain {
  color: lightgrey;
  padding-right: 0.5em;
}

.post img {
  max-height: 3.7em;
  float: left;
  max-width: 6em;
  margin-top: 0.3em;
  margin-right: 0.3em;
}

.post .content {
  min-height: 3.7em;
}
