---
---

@import "{{ site.theme }}";

// Keep small screen layout for all screens
header, section, footer {
  float:none;
  position:static;
  width:auto;
}

header p {
  font-size: 0.7em;
}

header a {
  font-weight: 200;
  padding-right: 1em;
  white-space: nowrap;
}

header a:hover {
  font-weight: 200;
}

.post {
  font-size: 0.7em;
  font-weight: 200;
  margin-bottom: 2em;
}

.post h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.post a {
  text-decoration: none;
  color: #727272;
}

.post a:hover, a:focus {
  font-weight: 200;
}

.post a:visited {
  color: lightgrey;
}

.post p {
  margin: 0px;
}

.post footer {
  color: lightgrey;
}

.domain {
  color: black;
  padding-right: 0.5em;
}

.post img {
  max-height: 3.7em;
  float: left;
  max-width: 6em;
  margin-top: 0.3em;
  margin-right: 0.3em;
}

.post .content {
  min-height: 3.7em;
}
