---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 700px;
}

// Keep small screen layout for all screens
header, section, footer {
  float:none;
  position:static;
  width:auto;
}

footer {
  color: lightgrey;
}

footer p {
  margin-bottom: 1em;
}

header h1, h2, h3 {
  margin-bottom: 0.7em;
}

.top-right {
  float: right;
  padding-top: 0.2em;
}

.menu {
  font-size: 0.7em;
}

.menu a {
  font-weight: 200;
  padding-right: 2em;
  white-space: nowrap;
  color: lightgrey;
}

.menu a i {
  width: 11px;
}

.menu a:hover {
  font-weight: 200;
}

.menu .selected {
  color: #267CB9;
}

.post {
  font-size: 0.7em;
  font-weight: 200;
  margin-bottom: 2em;
}

.post header {
  font-size: 1.4em;
  margin: 0px;
  overflow: hidden;
}

.post a {
  text-decoration: none;
  color: #727272;
}

.post a:hover, a:focus {
  font-weight: 200;
}

.post a:visited  {
  color: lightgrey;
}

.post p {
  margin: 0px;
}

.domain {
  color: lightgrey;
  padding-right: 0.5em;
}

.post img {
  max-height: 3.7em;
  float: left;
  max-width: 6em;
  margin-top: 0.3em;
  margin-right: 0.3em;
}

.post .content {
  min-height: 3.7em;
}

.mailchimp-contact-form input {
    vertical-align: middle;
    padding: 0.7em;
    border:1px solid lightgrey;
    outline-color: #267CB9;
    transition: box-shadow .2s ease;
}

.mailchimp-contact-form input[type="submit"] {
    background-color: #267CB9;
    border: 1px solid #267CB9;
    color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: lightgrey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgrey;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgrey;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgrey;
}
