---
---

@import "{{ site.theme }}";

.post {
  font-size: 0.8em;
  font-weight: 200;
}

.post h1, h2, h3, h4, h5 {
  margin: 0px; 
}

.post a {
  text-decoration: none;
  color: #727272;
}

.post a:hover {
  font-weight: 200;
}

.post p {
  margin: 0px;
  margin-bottom: 5px;
}

.post footer {
  color: lightgrey;
}

.thumb {
  position: absolute;
  color: lightgrey;
}

.thumb img { 
  width: 7em;
  margin-top: 0.3em;
}

.content {
  margin-left: 8em; 
}

.title {
  font-weight: 400; 
  color: black;
}


