---
---

@import "{{ site.theme }}";

.post {
  font-size: 0.8em;
  font-weight: 200;
}

.post a {
  text-decoration: none;
  color: #727272;
}

.post p {
  margin: 0px;
  margin-bottom: 5px;
}

.thumb {
  position: absolute;
}

.thumb img { 
  width: 7em;
  margin-top: 0.3em;
}

.title {
  font-weight: 400; 
  color: black;
}

.content {
  margin-left: 8em; 
}

footer {
  display: none;
}

header {
  .view {
    display: none;
  }
}
