<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include subscribe.html %}
        <a href="/"><h3>{{ site.name }}</h3></a>
        <p>{{ site.description }}</p>
        <center>
          <div class="menu">
              <div><a id="research" href="/research/"><i class="fa fa-area-chart" aria-hidden="true"></i><p>research</p></a></div>
              <div><a id="eng" href="/eng/"><i class="fa fa-code" aria-hidden="true"></i><p>eng</p></a></div>
              <div><a id="product" href="/product/"><i class="fa fa-laptop" aria-hidden="true"></i><p>product</p></a></div>
              <div><a id="threads" href="/threads/"><i class="fa fa-comments-o" aria-hidden="true"></i><p>threads</p></a></div>
              <div><a id="threads" href="/press/"><i class="fa fa-newspaper-o" aria-hidden="true"></i><p>press</p></a></div>
              <script>
                const id = "{{ page.title }}";
                if (id) {
                  document.getElementById(id).className = "selected";
                }
              </script>
          </div>
        </center>
      </header>
      <section>
        <div class="posts">

            {% assign site_time = site.time | date: '%s' | plus: 0 %}

            {% assign post_count = 0 %}

            {% assign hr_days_ago = 0 %}

            {% for post in site.posts %}
              {% if post.link and post.title or post.excerpt %}
                {% if page.category == nil or page.category == post.category or page.channel == post.category %}
                  {% if page.category != nil or page.featured contains post.category %}

                    {% assign post_count = post_count | plus: 1 %}

                    {% if post_count > 50 %}
                         <!-- <center><a href=#{{ offset }}>More</a></center> -->
                      {% break %}
                    {% endif %}

                    {% capture m %}{{ post_count | modulo:11 }}{% endcapture %}
                    {% if m == '0' %}
                      {% include advert.html %}
                    {% endif %}

                    {% assign post_date = post.date | date: '%s' | plus: 0 %}
                    {% assign time_ago = site_time | minus: post_date %}
                    {% assign minutes_ago = time_ago | divided_by: 60 %}
                    {% assign hours_ago = time_ago | divided_by: 3600 %}
                    {% assign days_ago = time_ago | divided_by: 86400 %}

                    {% if days_ago > 0 and days_ago > hr_days_ago  %}
                      {% assign hr_days_ago = days_ago %}
                      <hr>
                    {% endif %}

                    {% include post.html %}

                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
        </div>

    </section>
      <footer>
        <center>
            <p>Want to catch machine learning news?</p>
            <p>Subscribe or follow us</p>
            <p>
              {% include subscribe.html %}
            </p>
            <p id="email">
              {% include mailchimp.html %}
            </p>
            <p>
              Have a good source?  <a href="mailto:contact@vectorhack.com">Contact us</a> to add it
            </p>
          </center>
      </footer>
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    {% include analytics.html %}

  </body>
</html>
