<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="top-right">
          {% include subscribe.html %}
        </div>
        <a href="/"><h3>{{ site.name }}</h3></a>
        <p>{{ site.description }}</p>
        <center>
          <div class="menu">
            <p>
              <a id="research" href="/research/"><i class="fa fa-area-chart" aria-hidden="true"></i> research</a>
              <a id="engineering" href="/engineering/"><i class="fa fa-code" aria-hidden="true"></i> engineering</a>
              <a id="product" href="/product/"><i class="fa fa-laptop" aria-hidden="true"></i> product</a>
              <a id="fora" href="/fora/"><i class="fa fa-comments-o" aria-hidden="true"></i> fora</a>
              <script>
                var el = document.getElementById("{{ page.title }}");
                el.className = "selected";
              </script>
            </p>
          </div>
        </center>
      </header>
      <section>
        <div class="posts">

            {% assign site_time = site.time | date: '%s' | plus: 0 %}

            {% assign post_count = 0 %}
            {% assign hr_days_ago = 0 %}

            {% for post in site.posts %}
              {% if post.link and post.title or post.excerpt %}
                {% if page.category == nil or page.category == post.category %}
                  {% if page.category != nil or post.category != 'C7WHBLNLR' %}

                    {% assign post_count = post_count | plus: 1 %}
                    {% if post_count > 50 %}

                      {% include advert.html %}

                      <center><a href=#{{ offset }}>More</a></center>
                      {% break %}
                    {% endif %}

                    {% assign post_date = post.date | date: '%s' | plus: 0 %}
                    {% assign time_ago = site_time | minus: post_date %}
                    {% assign minutes_ago = time_ago | divided_by: 60 %}
                    {% assign hours_ago = time_ago | divided_by: 3600 %}
                    {% assign days_ago = time_ago | divided_by: 86400 %}

                    {% if days_ago > 0 and days_ago > hr_days_ago  %}
                      {% assign hr_days_ago = days_ago %}
                      <hr>
                    {% endif %}

                    {% include post.html %}

                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
        </div>

    </section>
      <footer>
        <center>
            Want to catch machine learning news?

            <strong>Subscribe</strong> or <strong>follow</strong> us

            {% include subscribe.html %}
        </center>
      </footer>
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    {% include analytics.html %}

  </body>
</html>
